<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="userid" value="请在运行程序设置账号" />
    <add key="pwd" value="请运行程序设置密码" />
    <add key="id" value="268841" />
    <add key="path" value="sign.txt" />
    <add key="forecolor" value="8"/>
  </appSettings>
</configuration>