<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="userid" value="R6JdSO8BTvk1csWhV9UwS5KaFEoKPR4B9KELNUilJxn3aHU4x+HDDCqGO0cJGjwcMqEFQ1pmIkUC25OhRuLo9yaB030yM1vRauAcgHWlejWtTQy+jRUnPusgYykoMNd0ulSvVJ0Ls81qxvNe3BjQwlZFpS/YC98trZ1aCvjHUhI=" />
    <add key="pwd" value="kF12cMOJaezvVHG+eswFeDNcfC8O1532RoD7lN58VZRTCmSTe9ysRHYp1RfEDwPSmydxncFXjACQuTwnvd6lZ79WbwsI+PcDoIwO1Wfv17ANAJa3DaYAmS7JUpe1B/hTenB1ZkuzADKRQ5pTPcIo67scr4fidvNMPLYBlQG44qQ=" />
    <add key="id" value="268841" />
    <add key="path" value="sign.txt" />
    <add key="forecolor" value="8"/>
  </appSettings>
</configuration>