<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="userid" value="userid" />
    <add key="pwd" value="pwd" />
    <add key="id" value="id" />
    <add key="path" value="sign.txt" />
    <add key="forecolor" value="8"/>
  </appSettings>
</configuration>